@import "../../style/variaveis";
@import "../../style/reset";

.team-page {
  background: $background;

  .team {
    background: url("../../assets/img/banner-section.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px auto;
    margin-bottom: 20px;

    .team-desc {
      @include text-default();
      color: $text-color;
      max-width: 85vw;
      text-align: center;
      font-size: 22px;
    }
  }
  .profiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 30px;
    padding: 30px;
  }
}
