@import "../../style/variaveis";
@import "../../style/reset";

.main {

    .blog-header {

        padding: 0 109px;
        .blog-title {
            @include title-default();
        }
        .blog-headerImgs {
            display: grid;
            // grid-template-columns: repeat(3, auto);
            grid-template-columns: 631px 224px 319px;
            grid-template-rows: 305fr 244px;
            width: 100%;
            gap: 24px;
            margin: 0 auto; 
            img {
                width: 100%;
            }
            
            .blog-img1 { 
                max-width: 631px;
                grid-column: 1;
                grid-row: 1/3;
            }
            .blog-img2 { 
                max-width: 567px;
                grid-column: 2/4;
                grid-row: 1;
            }
            .blog-img3 { 
                max-width: 224px;
                grid-column: 2;
                grid-row: 2;
            }
            .blog-img4 { 
                max-width: 319px;
                grid-column: 3;
                grid-row: 2;
            }
            
        }
    }
    .blog-posts {
        padding: 109px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        cursor: pointer;

        .post-card {
            background-color: hsla(0, 0%, 100%, 0.09);
            padding: 56px 31px;
            border-radius: 10px;
            display: flex;
            gap: 51px;
            align-items: center;

            img {
                max-width: 346px;
                width: 346px;
            }

            .post-text {

                h2 {
                    @include postTitle-default();
                    padding-bottom: 20px
                }

                p {
                    @include cardText-default();
                    width: 100%;
                }
            }

        }
    }

    @media (max-width: 758px) {
        .blog-posts {
            padding: 0 16px;
        }
        .post-card {
            flex-direction: column;
        }

        .post-text {
            h2 {
                font-size: 24px;
            }

            p {
                font-size: 16px;
            }
        }
    }
}