.slider-container {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  border-style: none;
  align-self: center;
  justify-items: center;

  .slick-list {
    height: fit-content;
    padding-top: 50px;
  }
}
