@import "../../style/variaveis";
@import "../../style/reset";

.course-card {
  background: rgba(15, 14, 116, 0.86);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 316px;
  height: 472px;
  border-radius: 12px;
  padding: 38px 12px;
  border: 1px solid #061842;

  .course-icon {
    width: 100px;
  }
  .course-title {
    font-family: $proxima-nova-font;
    color: $text-color;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
  }

  .course-desc {
    @include text-default;
    width: 100%;
    font-size: 20px;
    padding: 0;
  }
}
