@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$text-color: rgb(255, 255, 255);
$text-color-desc: #E8E7F5;
$text-color-link: #0F0E74;
$background: linear-gradient(
  187.78deg,
  #0c0b5d 26.02%,
  #070636 43.96%,
  #010019 58.49%,
  #01001a 73.34%,
  #010014 88.19%
);
$background-color-card: rgba(11, 10, 90, 0.76);
$border-card: 1px solid rgba(6, 24, 66, 1);
$box-shadow-card: 7px 9px 10px -2px rgba(0, 0, 0, 0.15);
$header-background: rgba(12, 11, 93, 1);
$btn-bg: rgba(230, 230, 232, 1);
$proxima-nova-font: "proxima_nova_rgbold", Helvetica, Arial, sans-serif;
